@model IEnumerable<WebBanHangOnline.Models.EF.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    var lstCategory = ViewBag.lstCategorys as IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>;
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/products" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/products/add" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="input-group input-group-sm">
                        <input type="search" name="searchtext" id="txtSearchBox" class="form-control" placeholder="Search.." />


                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">


                            <select name="dropDownlistProCate" class="form-control" style="width: 100%;" id="dropDownlistProCate">
                                <option value="0">--Lựa chọn danh mục sản phẩm--</option>
                                @foreach (var item in lstCategory)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }




                                <option value=""></option>
                            </select>
                            <span class="error text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-info btn-flat" id="btbSearch">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm </th>
                        <th>Số lượng </th>
                        <th>Danh mục sản phẩm </th>
                        <th>Giá</th>
                        <th>Ngày tạo</th>
                        <th>Hiển thị</th>
                        <th>Hot</th>
                        <th>Sale</th>

                        <th style="width:150px;"></th>
                    </tr>
                </thead>
                <tbody id="show_dataprocate">
                    @* @if (Model != null && Model.Any())
                        {

                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

                            foreach (var item in Model)
                            {

                                var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                var strImg = "";
                                var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                if (img != null)
                                {
                                    strImg = img.Image;
                                }
                                <tr id="trow_@item.Id">
                                    <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                    <td>@i</td>
                                    <td><img src="@strImg" data-id="@item.Id" class="imgproduct" style="width:50px;" /></td>
                                    <td>@item.Title</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.ProductCategory.Title</td>
                                    <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        <a href="#" data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" data-id="@item.Id" class="btnHome">@Html.Raw(strCheckHome)</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" data-id="@item.Id" class="btnSale">@Html.Raw(strCheckSale)</a>
                                    </td>
                                    <td>
                                        <a href="/admin/products/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                        <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                    </td>

                                </tr>
                                i++;

                            }


                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào</td>
                            </tr>
                        }*@
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" id="pagination">
                        </td>
                    </tr>

                </tfoot>

            </table>


        </div>

        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>

        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%">
    </iframe>
</div>

@section scripts{


    <script>
        $(document).ready(function () {
            /*loadDSDMPC();*/
            loadDataSanPham("", null, 5, "");

            //hien thi form upload anh
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '900',
                resizable: true,
                title: "Quản lý ảnh sản phẩm",
                close: function () {
                    location.reload();
                }

            });
            $("body").on('click', '.imgproduct', function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/Admin/ProductImage/Index?id=" + proid);
                $("#dialog").dialog('open');
                return false;
            });
            $('body').on('click', '#btbSearch', function () {
                debugger
                var txtSearch = $('#txtSearchBox').val();
                var procategoryid = $('#dropDownlistProCate').val();
                $('#show_dataprocate').html("");
                loadDataSanPham(txtSearch, null, 5, procategoryid);

            })
            $('body').on('click', '.btnDelete', function () {

                var id = $(this).attr("data-id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?')
                if (conf === true) {
                    $.ajax({
                        url: '/admin/Products/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).fadeTo('fast', 0.5, function () {
                                    $(this).slideUp('fast', function () {
                                        $(this).remove();
                                    })

                                })
                            }
                        }
                    })
                }
            })


            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.attr("data-id");
                $.ajax({
                    url: '/admin/Products/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {
                            if (rs.isActive) {
                                //btn.html("<i class='fa fa-check text-success'></i>")
                                btn.find("i").removeClass("fas fa-times text-danger");
                                btn.find("i").addClass("fa fa-check text-success");

                            }
                            else {
                                //btn.html("<i class='fas fa-times text-danger'></i>")
                                btn.find("i").removeClass("fa fa-check text-success");
                                btn.find("i").addClass("fas fa-times text-danger");

                            }
                        }

                    }
                })
            })
            $('body').on('click', '.btnHot', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.attr("data-id");
                $.ajax({
                    url: '/admin/Products/IsHot',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {
                            if (rs.isHot) {
                                //btn.html("<i class='fa fa-check text-success'></i>")
                                btn.find("i").removeClass("fas fa-times text-danger");
                                btn.find("i").addClass("fa fa-check text-success");

                            }
                            else {
                                //btn.html("<i class='fas fa-times text-danger'></i>")
                                btn.find("i").removeClass("fa fa-check text-success");
                                btn.find("i").addClass("fas fa-times text-danger");

                            }
                        }

                    }
                })
            })
            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.attr("data-id");
                $.ajax({
                    url: '/admin/Products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {
                            if (rs.isSale) {
                                /*box.hasClass('active')*/
                                //btn.html("<i class='fa fa-check text-success'></i>")
                                btn.find("i").removeClass("fas fa-times text-danger");
                                btn.find("i").addClass("fa fa-check text-success");

                            }
                            else {
                                //btn.html("<i class='fas fa-times text-danger'></i>")
                                btn.find("i").removeClass("fa fa-check text-success");
                                btn.find("i").addClass("fas fa-times text-danger");

                            }
                        }

                    }
                })
            })

            $('body').on('change', '#SelectAll', function (e) {
                e.preventDefault();
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {

                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                })
            })
            $('body').on('click', '#btnDeleteAll', function () {

                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input');
                var i = 0;
                checkbox.each(function () {

                    if (this.checked) {
                        var id = $(this).val();
                        checkbox.attr('selected', 'checked');
                        if (i === 0) {
                            str += id;
                        }
                        else {
                            str += "," + id;
                        }
                        i++;
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                })
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các bản ghi này không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/Products/DeleteAll',
                            type: 'POST',
                            data: { str: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();

                                }
                            }
                        })
                    }
                }
            })
        })
        function Pagination(CurrentPage, NumberPage, pageSize) {
            var str = "";
            if (NumberPage > 0) {

                str += `<nav aria-label="page navigation example"><ul class="pagination">`;

                if (CurrentPage != 1) {
                    str += `<li class="page-item"><a class="page-link" onclick="NextPage(${CurrentPage - 1},${pageSize})" href="javascript:void(0);" >Previous</a></li>`;
                }
                for (i = 1; i <= NumberPage; i++) {
                    if (CurrentPage === i) {
                        str += `<li class="page-item active"><a class="page-link" href="javascript:void(0);">${i}</a></li>`;
                    }
                    else {
                        str += `<li class="page-item"><a class="page-link" onclick="NextPage(${i},${pageSize})" href="javascript:void(0);" >${i}</a></li>`;
                    }


                }
                if (CurrentPage != NumberPage) {
                    str += `<li class="page-item"><a class="page-link" onclick="NextPage(${CurrentPage + 1},${pageSize})"href="javascript:void(0);">Next</a></li>`;
                }



                str += `</ul></nav>`;
                $('#pagination').html(str);

            }
        }
        function NextPage(page, pageSize) {
            var txtSearch = $('#txtSearchBox').val();
            var procategoryid = $('#dropDownlistProCate').val();
            loadDataSanPham(txtSearch, page, pageSize, procategoryid);
        }
        function formatNumber(n) {
            n += '';
            x = n.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
        /* function formatNumber(num) {
             return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
         }*/
        function formatJsonDate(date) {

            var dateString = date.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            if (month < 10) {
                month = '0' + month
            }
            if (day < 10) {
                day = '0' + day
            }
            return day + "/" + month + "/" + year;
        }
        /*function loadDSDMPC() {
            $.ajax({
                url: '/Admin/Products/GetProductCategory',
                type: 'GET',

                success: function (rs) {


                    if (rs.TotalItems > 0) {
                        var items = rs.data;
                        var str = "";
                        str += '<option value="0">--Lựa chọn danh mục sản phẩm--</option>';
                        for (var i = 0; i < rs.data.length; i++) {

                            str += '<option value="' + items[i].ProCateId + '">' + items[i].TenDMSanPham + '</option>'


                        }
                        $('#dropDownlistProCate').html(str);
                    }
                }
            })
        }*/
        function loadDataSanPham(_searchName, page, pageSize, _procateId) {
            debugger
            $.ajax({
                url: '/Admin/Products/GetProducts',
                type: 'GET',
                data: { searchName: _searchName, page: page, pageSize: pageSize, procateid: _procateId },
                success: function (rs) {

                    if (rs.TotalItems > 0) {
                        var items = rs.data;
                        var html = "";
                        var ngaylayanh = "";
                        var strCheck = "";
                        var strHot = "";
                        var strSale = "";
                        var giasp = "";
                        for (var k = 0; k < rs.data.length; k++) {
                            giasp = formatNumber(items[k].Price);

                            strCheck = items[k].IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            strHot = items[k].IsHot ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            strSale = items[k].IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            if (items[k].CreatedDate != null) {
                                ngaylayanh = formatJsonDate(items[k].CreatedDate);
                            }
                            html += '<tr id="trow_' + items[k].Id + '">';
                            html += '<td><input type="checkbox" class="cbkItem" value="' + items[k].Id + '" /></td>';
                            html += '<td>' + (k + 1) + '</td>';
                            html += '<td><img src="' + items[k].Image + '" data-id="' + items[k].Id + '" class="imgproduct" style="width:50px;" /></td>';
                            html += '<td>' + items[k].Title + '</td>';
                            html += '<td>' + items[k].Quantity + '</td>';
                            html += '<td>' + items[k].ProCategoryName + '</td>';

                            html += '<td class="product_price">' + giasp + '</td>';

                            html += '<td>' + ngaylayanh + '</td>';
                            html += '<td class="text-center"><a href = "#" data-id="' + items[k].Id + '" class="btnActive" >' + strCheck + '</a ></td>';
                            html += '<td class="text-center"><a href = "#" data-id="' + items[k].Id + '" class="btnHot" >' + strHot + '</a ></td>';
                            html += '<td class="text-center"><a href = "#" data-id="' + items[k].Id + '" class="btnSale" >' + strSale + '</a ></td>';
                            html += '<td><a href="/admin/products/edit/' + items[k].Id + '" data-id="' + items[k].Id + '" class="btn btn-sm btn-primary btbEdit">Sửa</a> <a href="#" data-id="' + items[k].Id + '" class="btn btn-sm btn-danger btnDelete">Xóa</a></td>';
                            html += '</tr>';
                           
                        }

                    }
                    else {
                        html += '<tr>';
                        html += '<td colspan="4">Không có bản ghi nào</td>';
                        html += '</tr>';
                    }

                    $('#show_dataprocate').html(html);
                    Pagination(rs.CurrentPage, rs.NumberPage, rs.pageSize)

                }
            })
        }


    </script>
}